* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.centering-container {
  width: 1080px;
  margin: auto;
}

.header-top {
  background-color: #f4f9fd;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #33475b;
  position: relative;
}

.header-top-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.language-menu {
  float: left;
  width: 540px;
  height: 25px;
  line-height: 25px;
  /* background-color: #33475b; */
}

.language-menu::after {
  content: "";
  display: table;
  clear: both;
}

.language-menu div {
  display: inline-block;
}

.language {
  color: #33475b;
}

.divider, .contact {
  color: #33475b;
  margin-left: 15px;
}

.login-menu {
  float: left;
  width: 540px;
  height: 25px;
  line-height: 25px;
  text-align: right;
}

.fa-search {
  color: #00a4bd;
}

.login-button {
  display: inline-block;
  color: #fe775a;
  background-color: #fafcfe;
  border-radius: 5px;
  border: 1px solid #fe775a;
  padding: 5px 10px;
  margin-left: 15px;
}

.get-hubspot-button-small {
  display: inline-block;
  color: #fafcfe;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 15px;
}

.header-menu {
  background-color: #ffffff;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #33475b;
  position: relative;
}

.header-menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-logo {
  float: left;
  width: 540px;
  height: 25px;
  line-height: 25px;
}

.header-logo::after {
  content: "";
  display: table;
  clear: both;
}

.header-menu nav {
  display: inline-block;
  width: 540px;
  height: 25px;
  line-height: 25px;
  text-align: right;
  color: #33475b;
}

.header-menu nav ul li {
  display: inline-block;
  margin-left: 15px;
}

.header-menu nav ul li i {
  margin-left: 15px;
}

.hero-box {
  background-color: #fff4ef;
  width: 100vw;
  height: 490px;
  position: relative;
}

.hero-box img {
  width: auto;
  height: 490px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero-copywriting {
  width: 540px;
  height: 350px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-copywriting h1 {
  font-size: 48px;
  font-weight: 900;
  color: #33475b;
}

.hero-copywriting p {
  margin-top: 15px;
  font-weight: 500;
  color: #33475b;
}

.get-hubspot-button-big {
  display: inline-block;
  color: #fafcfe;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 15px;
}

.hero-empty-bar {
  background-color: #afebe4;
  width: 100vw;
  height: 78.5px;
  border-bottom: 3px solid #33475b;
  border-top: 3px solid #33475b;
  position: relative;
}

.hero-empty-bar img {
  width: auto;
  height: 490px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main-features-box {
  background-color: #f4f9fd;
  width: 100vw;
  height: 1180px;
  position: relative;
}

.main-features-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main-copywriting {
  background-color: #fe775a;
  width: 1080px;
  height: 280px;
  margin-bottom: 15px;
}

.main-crm-box {
  background-color: #33475b;
  width: 1080px;
  height: 280px;
  margin-bottom: 15px;
}

.main-hubs-box {
  width: 1080px;
  height: 560px;
  position: relative;
}

.marketing-hub {
  float: left;
  width: 360px;
  height: 560px;
  background-color: #fe775a;
  padding: 20px;
}

.marketing-hub::after {
  content: "";
  display: table;
  clear: both;
}

.sales-hub {
  float: left;
  width: 360px;
  height: 560px;
  background-color: #33475b;
  padding: 20px;
}

.service-hub {
  float: left;
  width: 360px;
  height: 560px;
  background-color: #fe775a;
  padding: 20px;
}

.main-stats-box {
  background-color: #00baa8;
  width: 100vw;
  height: 630px;
  position: relative;
}

.main-stats-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats-copywriting {
  background-color: #fe775a;
  width: 1080px;
  height: 210px;
  margin-bottom: 15px;
}

.stats {
  background-color: #33475b;
  width: 1080px;
  height: 350px;
}

.main-customers-box {
  background-color: #ffffff;
  width: 100vw;
  height: 630px;
  position: relative;
}

.main-customers-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customers {
  background-color: #fe775a;
  width: 1080px;
  height: 210px;
  margin-bottom: 15px;
}

.customers-copywriting {
  background-color: #33475b;
  width: 1080px;
  height: 350px;
}

footer {
  background-color: #32495b;
  width: 100vw;
  height: 560px;
  position: relative;
}

.external-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.external-links-container {
  width: 1080px;
  height: 350px;
  position: relative;
  margin-bottom: 15px;
}

.traffic {
  float: left;
  width: 270px;
  height: 350px;
  background-color: #ffffff;
  padding: 20px;
}

.traffic::after {
  content: "";
  display: table;
  clear: both;
}

.connect-leads {
  float: left;
  width: 270px;
  height: 350px;
  background-color: #fe775a;
  padding: 20px;
}

.manage-leads {
  float: left;
  width: 270px;
  height: 350px;
  background-color: #ffffff;
  padding: 20px;
}

.tools {
  float: left;
  width: 270px;
  height: 350px;
  background-color: #fe775a;
  padding: 20px;
}

.credits {
  width: 1080px;
  height: 140px;
  background-color: #fe775a;
}
